a.vk {
  color: #4680C2;
}

a.vk:hover {
  color: #34608E;
  text-decoration: none;
}

a.tg {
  color: #0088cc;
}

a.tg:hover {
  color: #006599;
  text-decoration: none;
}

a.inst {
  color: #E1306C;
}

a.inst:hover {
  color: #AD2655;
  text-decoration: none;
}

.badge {
  padding: 3px;
  border-radius: 0px;
}

.kommersant {
  background-color: #000000;
  color: #FFFFFF;
}

.meduza {
  background-color: #000000;
  color: #D09959;
}

.nplus1 {
  background-color: #FE5F19;
  color: #000000;
}

.rbc {
  background-color: #1FC593;
  color: #FFFFFF;
}

.vedomosti {
  background-color: #FBF1EC;
  color: #000000;
}
