:root {
  --main-color: #8FC1E3;
  --text-color: #282628;
}

body {
  background-color: #F2F8FF;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

.navbar-top {
  background-color: var(--main-color);
  height: 55.6px;
  justify-content: flex-start;
}

.navbar-top .form-control {
  background-color: #BCD3E2;
  border-radius: 0px;
  border-style: none;
  width: 20rem;
  height: inherit;
}

.navbar-top .form-control:focus {
  background-color: #FFFFFF;
  box-shadow: none;
}

.navbar-brand {
  font-family: 'Press Start 2P';
  font-size: 20px;
  color: var(--text-color);
}

.navbar-brand:hover {
  color: #000000;
}

.btn-link {
  color: var(--text-color);
  padding: 0;
}

.btn-link:hover, .btn-link:focus, .btn-link:active {
  color: #000000;
  text-decoration: none;
}

.navbar-top .btn-menu {
  color: var(--text-color);
  font-weight: 600;
  font-size: 14px;
}

.navbar .btn-menu:hover, .navbar-top .btn-menu:focus, .navbar-top .btn-menu:active {
  color: #000000;
  text-decoration: none;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 22px;
  color: var(--text-color);
  display: block;
  transition: 0.3s;
  white-space: nowrap;
}

.sidenav a:hover {
  color: #000000;
}

.sidenav .closebtn {
  position: absolute;
  top: -6px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.category-choose a, .slide-arrow {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #888994;
}

.category-choose a:hover {
  text-decoration: none;
  color: var(--text-color);
}

.category-choose .active {
  color: var(--text-color);
}

.row-posts {
  margin-left: -7.5px;
  margin-right: -7.5px;
}

.row-posts>* {
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.card {
  border-radius: 0px;
  border-width: 1px;
  border-style: none;
}

.post {
  margin-bottom: 0.8rem;
}

.card img {
  width: auto;
  max-width: 100%;
  max-height: 510px;
  display: block;
  margin: 0 auto;
}

.card-top {
  margin: 0;
  padding: 0;
}

.card-top li {
  display: inline;
  margin-right: 5px;
}

a.card-hashtag {
  font-weight: 600;
  font-size: 75%;
  color: #4A4A4A;
}

a.card-hashtag:hover {
  color: #000000;
  text-decoration: none;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: var(--text-color);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.tool-panel {
  background-color: #F1F3F4;
  text-align: center;
}

.tool-panel .rate {
  width: 45px;
}

.tool-panel .rate .btn-link {
  color: var(--text-color);
  font-size: 12px;
}

.tool-panel .rate .btn-up:hover {
  color: lime;
}

.tool-panel .rate .btn-down:hover {
  color: red;
}

.divider {
  border-width: 4px;
}

.top-list a {
  border-left-width: 0px;
  border-right-width: 0px;
  font-size: 14px;
}

.top-list a:first-child {
  border-radius: 0px;
  border-top-width: 0px;
}

.top-list a:last-child {
  border-radius: 0px;
  border-bottom-width: 0px;
}

.without-picture {
  position: sticky;
  top: 71.6px;
}
